{{ form_start(form,  {'attr': {'novalidate': 'novalidate'}} ) }}
     {#{{ form_errors(form) }}#}
    {{ form_widget(form) }}
    <button class="btn btn-success btn-lg"><i class="fa fa-plus"></i> {{ 'action.add_contact'|trans }}</button>
{{ form_end(form) }}
